$colors : (background: RGB(39,76,67));

* {
  font-family: 'Fredericka the Great';
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: map-get($colors, background);
  background: url('./images/background.jpg');
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h1 {
    font-size: 5rem;
    margin: 1.5rem;

  @media (max-width: 40rem) {
    font-size: 3rem;
  }
  }

button {
  background-color: #DDDDDD;
  border: 1px solid map-get($colors, background);
  border-radius: 3px;
  color: map-get($colors, background);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.544);

  &:hover {
    cursor: pointer;
  }

  &:active {
    color: #dddddd;
    border-color: #dddddd;
    background-color: RGB(39,76,67, 0.6);
    transform: translateY(2px);
  }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
}

#gameboard {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.boardgame-box {
  font-size: 3.5rem;
  border: 3px solid #dddddd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #dddddd48;
    cursor: pointer;
  }
}

.turn-display {
  font-size: 1.5rem;
  margin: 8px;
}

footer {
  width: 100%;
  background-color: map-get($colors, background);
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  height: 8vh;
  padding: 1rem 0;
  box-shadow: -2px -2px 5px 5px map-get($colors, background);
}

.footer {
  font-family: 'Verdana', sans-serif;

  a {
    font-family: 'Verdana', sans-serif;
    color: white;
  }
}

// Modals
.backdrop {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: #77777788;
}

.options-modal {
  display: none;
  border: 5px solid #dddddd;
  border-radius: 5px;
  background-color: map-get($colors, background);
  padding: 1rem;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  h2 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 2rem;
    text-align: center;
  }
}

.input-group {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

form input[type="text"] {
  width: 300px;
  color: black;
  font-family: 'Verdana', sans-serif;
}

.game-over-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 5px solid map-get($colors, background);
  color: map-get($colors, background);
  border-radius: 5px;
  background-color: #ddddddd4;
  padding: 1rem;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  @media (max-width: 40rem) {
    width: 90%;
  }

  h2 {
    color: map-get($colors, background);
    margin: 0;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
  }

  p {
    color: map-get($colors, background);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  button {
    background-color: map-get($colors, background);
    color: #ffffff;
    font-size: 1.5rem;
    width: 50%;
  }
}